.logo{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.title{
    color:#005500;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-family: "Squada-one";
}

.subtitle{
    box-sizing:content-box;
    color:#ddd;
    font-size: 2rem;
    line-height: 2rem;
}
